* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
}

/*Boot CSS*/
html, body{
    height: 100%;
}

.box-login{
    max-width: 600px;
    width: 90%;
    padding: 20px 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow: 1px 1px 10px #333;
}

.box-login input[type="text"], 
.box-login input[type="password"]{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    padding-left: 10px;
    border: 2px solid black;
}

.box-login input[type="submit"]{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(75, 221, 75);
    cursor: pointer;
    border: 2px solid black;
}